/* ============================== POMODORO STYLING ============================= */

body {
	padding-top: 5%;
	background-color: black;
	color: white;
  font-family: Arial;
	font-size: 22px;
  text-transform: uppercase;
}

input {
	text-transform: uppercase;
	background-color: black;
  border: none;
	color: white;
	font-size: 22px;
}

 p {
	font-size: 22px;
	margin-top: 1%; 
	margin-bottom: -20px;
  text-transform: uppercase;
}

h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom:0; 
	padding-bottom: 0;
	font-size: 46px;
}

h2 {
	font-size: 22px;
	text-align: center;
	font-weight: normal;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.flex-container {
	display: flex; 
	flex-direction: column;
	justify-content: center; 
	align-items: center; 
	margin: 0 auto;
}


.flex-horizontal {
	display: flex;
	justify-content: center; 
	width: 100%;
}

.flex-horizontal div {
	margin: 0 2% 0 2%;
}

.clockface {
	border-radius: 100%;
	height: 250px; 
	width: 250px;
	box-shadow: 1px 1px 50px 1px white;
	margin: 1rem 0 2.7rem 0;
	animation-duration: 10s;
	animation-name: glow;
	animation-iteration-count: infinite;	
}

@keyframes glow {

	0% {
		box-shadow: 1px 1px 50px 1px white;
	}

	5% {
		box-shadow: 1px 1px 75px 5px white;
	}

	10% {
		box-shadow: 1px 1px 50px 1px white;
	}


	15% {
		box-shadow: 1px 1px 75px 5px white;
	}


	20% {
		box-shadow: 1px 1px 50px 1px white;
	}

	100% {
		box-shadow: 1px 1px 50px 1px white;
	}

}